        /* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #3b82f6, #8b5cf6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
    width: 100%;
    max-width: 420px;
    text-align: center;
}

.app-title{
    color: #fff;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
}

/* Search Box */
.search-box{
    display: flex;
    background: white;
    padding: 8px;
    border-radius: 35px;
    margin-bottom: 20px;
}

.search-box input{
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 35px;
}

.search-box button{
    border: none;
    background: #2563eb;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.search-box button:hover{
    background: #1e40af;
}

/* Weather Card */
.weather-card{
    background: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
    color: white;
}

.city{
    font-size: 30px;
    font-weight: 600;
}

.weather-icon{
    width: 120px;
    margin: 10px 0;
}

.temperature{
    font-size: 42px;
    font-weight: 600;
}

.description{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card{
    background: rgba(255,255,255,0.25);
    padding: 15px 25px;
    border-radius: 15px;
    width: 48%;
    text-align: center;
}

.card h3{
    font-size: 18px;
}

.card p{
    font-size: 18px;
    font-weight: 600;
}

.datetime{
    margin-top: 10px;
}

.day{
    font-size: 20px;
    font-weight: 600;
}

.date{
    font-size: 16px;
    opacity: 0.9;
}

  